/* assets/css/products.css */

/* Estilo básico para a seção de produtos */
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    width: calc(33% - 40px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image {
    max-width: 100%;
    height: auto;
}

.product-title {
    font-size: 1.2em;
    margin: 10px 0;
}

.product-price {
    color: #28a745;
    font-weight: bold;
}

/* Estilo para o título das seções de produto */
.product-section {
    margin-bottom: 40px;
}

.section-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo para o contêiner de produtos */
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 20px;
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    width: calc(33% - 40px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image {
    max-width: 100%;
    height: auto;
}

.product-title {
    font-size: 1.2em;
    margin: 10px 0;
}

.product-price {
    color: #28a745;
    font-weight: bold;
}

/* Estilos para o menu lateral */
.sidebar {
    width: 200px;
    padding: 20px;
    background-color: #f2f2f2;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
}
.sidebar h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
}
.sidebar ul li {
    margin-bottom: 10px;
}
.sidebar ul li a {
    text-decoration: none;
    color: #333;
}
.sidebar ul li a:hover {
    color: #565AA6; /* Exemplo de cor de destaque ao passar o mouse */
}
/* Ajuste no layout principal para acomodar o menu lateral */
main {
    margin-left: 220px;
    padding: 20px;
}